@import "reuse.scss";


header{
  border-bottom: 1px solid #ccc;
  padding: 20px 0 20px 0;
}
.header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .menu-list{
    display: flex;
    align-items: center;

    .menu-link__item{
      display: block;
    }
    .menu-link__item__link{
      @extend %menu-link__item__link;
      text-decoration: none;
      padding: 0 20px 0 20px;
    }
    .menu-link__item__logo{
      padding: 0;
      margin-right: 30px;
    }
  }
  .nav-buttons{
    display: flex;
    .button-link{
      display: block;
      .secondary-button{
        @extend %secondary-button-m;
      }
      .primary-button{
        @extend %primary-button-m;
        margin-left: 20px;
      }
    }
  }
}

.promo-wrap{
  padding: 115px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .content{
    .promo__title{
      @extend %main-title;
      max-width: 552px;
      margin-bottom: 51px;
    }
    .promo__subtitle-first{
      @extend %subtitle-first;
      max-width: 471px;
      margin-bottom: 50px;
    }
    .promo__block-buttons{
      margin-bottom: 25px;
      .promo__primary-button-l{
        @extend %primary-button-l;

      }
      .promo__secondary-button-l{
        @extend %secondary-button-l;
        margin-left: 10px;
      }
    }
    .promo__description{
      @extend %description;
    }
  }
  .img-content{
   .img-content__img{
     max-width: 746px;
     height: auto;
   }
  }
}
.promo__link-button{
  text-decoration: none;
  display: inline-block;
}

.prefered-lokalization{
  background-color: $light-orange;
  .prefered-lokalization__wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 108px 0;

    .prefered-lokalization__secondary-title{
      display: block;
      margin: 0 auto;
      @extend %secondary-title;
      max-width: 720px;
      margin-bottom: 70px;
    }
    .prefered-lokalization__logo-block{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .prefered-lokalization__logo{
        display: block;
      }

    }
  }
}

.project-explanation{
  padding: 90px 0;
  margin: 0 auto;
  .project-explanation__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .project-explanation__content{
      display: flex;
      flex-direction: column;
      .project-explanation__secondary-title{
        max-width: 493px;
        @extend %secondary-title;
        margin-bottom: 30px;
      }
      .project-explanation__subtitle-second{
        max-width: 493px;
        @extend %subtitle-second;
        margin-bottom: 30px;
      }
      .project-explanation__button{
        display: block;
        .project-explanation__text-button{
          @extend %text-button;
        }
      }
    }
    .project-explanation__img{

    }
  }

}

.project-explanation__reverse{
  padding: 90px 0;
  margin: 0 auto;
  .project-explanation__wrap__reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

  }

}

.localize-opportunity{
  background-color: $light-yellow;
  .container{
    .localize-opportunity__wrap{
      padding: 120px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .localize-opportunity__title{
        @extend %secondary-title;
        text-align: center;
        margin-bottom: 64px;
      }
      .localize-opportunity__icons-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px 110px;
        .localize-opportunity__card{
          margin: 0 auto;
          max-width: 330px;
          .card__img{
            margin: 0 auto;
            display: block;
            max-width: 160px;
            height: auto;
            width: 100%;
            margin-bottom: 26px;
          }
          .card__title{
            @extend %card-title;
            margin-bottom: 20px;
          }
          .card__paragraph{
            @extend %card-paragraph;
          }
        }
      }
    }
  }
}

.boost__wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 140px 0;
  .boost_title{
    @extend %secondary-title;
    margin-bottom: 75px;
  }
  .boost__cards__wrap{
    display: flex;
    flex-direction: row;
    gap: 0 48px;
    .boost__card{
      max-width: 33%;
      .img-wrap{
        height: 201px;
        display: flex;
        align-items: center;
        margin-bottom: 48px;
        .boost__card__img{
          display: block;
          max-height: 201px;
        }
      }
      .boost__card__title{
        @extend %boost-card-title;
        margin-bottom: 32px;
      }
      .boost__card__paragraph{
        @extend %boost-card-paragraph;
        margin-bottom: 24px;
      }
      .boost__card__link{
        @extend %boost-card-link;
      }
    }


  }
}